node_modules
dist
coverage
.nyc_output

.git
.github
.husky
.vscode
.idea

.env
.env.*
!.env.example

*.log
*.md
docs
test
**/*.spec.ts
**/*.e2e-spec.ts

Dockerfile
docker-compose.yml
.dockerignore
.gitignore
